<div class="container">
  <table class="table table-borderless border">
    <thead class="border">
      <tr>
        <th colspan="1" scope="col"><h4>Pedidos de Compra</h4></th>
        <td colspan="3" class="found-item">({{ purchaseOrders.length }} itens)</td>
      </tr>
    </thead>
    <tbody *ngFor="let purchaseOrder of purchaseOrders | filtrarPedidosVenda: purchaseOrdersSearch">
      <tr>
        <th class="id-style" scope="row">#{{ purchaseOrder.PurchaseOrderID }}</th>
        <td>{{ purchaseOrder.MaterialName }}</td>
        <td class="border-right">Qtd: {{ purchaseOrder.Quantity }} pç</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>