/* You can add global styles to this file, and also import other style files */
.id-style {
    color: red;
    text-decoration: underline;
}

.border {
    border: solid 1px;
}

.border-right {
    border-right: solid 1px;
}

.found-item {
    color: rgb(180, 174, 174);
    text-align: right;
}