<div class="container">
  <table class="table table-borderless">
    <thead class="border">
      <tr>
        <th colspan="1" scope="col">Mão de obra</th>
        <td colspan="3" class="found-item">({{ workforces.length }} itens)</td>
      </tr>
    </thead>
    <tbody *ngFor="let workforce of workforces | filtrarMaoDeObra: workforcesSearch">
      <tr>
        <th class="id-style" scope="row">#{{ workforce.WorkforceID }}</th>
        <td>{{ workforce.Name }}</td>
        <td>{{ workforce.Shift }}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>