<div class="container">
  <table class="table table-borderless border">
    <thead class="border">
      <tr>
        <th colspan="1" scope="col"><h4>Mão de obra</h4></th>
        <td colspan="3" class="found-item">({{ workforces.length }} itens)</td>
      </tr>
    </thead>
    <tbody *ngFor="let workforce of workforces | filtrarMaoDeObra: workforcesSearch">
      <tr>
        <th class="id-style" scope="row">#{{ workforce.WorkforceID }}</th>
        <td>{{ workforce.Name }}</td>
        <td class="border-right">{{ workforce.Shift }}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>